*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
a {
    text-decoration: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
body {
    background-color: #111;
}
section {
    margin-top: 50px;
}

header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 5%;

}

header  .logo img {
    margin-top: 20%;
    width: 150px;
 
}
header  .logo a span {
    color: #fff;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li  {
    margin: 0 15px;
    list-style-type: none;
}
.menu li a {
    color: #fff;
    font-size: 14px;
}
.btn-reservation {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-reservation:hover {
    background-color: #29d9d5;
    color: #fff;
 
}

.btn-contacter {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-contacter:hover {
    background-color: #29d9d5;
    color: #fff;
 
}

/* Home acceuil CSS */

#home {
    background: linear-gradient(rgba(0,0,0,0.1),#333), url("images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#home h2 {
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.02px;
    color: transparent;
    text-transform: lowercase;
}
#home h4 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#home p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}
.home-btn {
    margin-bottom: 20px;
}

.find_trip {
    background-color: #222;
    padding: 20px;
    width: 70%;
    position: absolute;
    bottom: -50px;
}
.find_trip form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.find_trip form div , .find_trip form input[type="submit"]{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.find_trip form label {
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
}
.find_trip form input {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #29d9d5;
    outline: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
}
.find_trip form input[type="submit"] {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #29d9d5;
    cursor: pointer;
    transition: 0.5s;
}
.find_trip form input[type="submit"]:hover {
    box-shadow: 0 0 10px #29d9d5;
}
#connexion,
#inscription {
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc avec transparence */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    max-width: 400px; /* Largeur maximale */
    margin: auto; /* Centrage horizontal */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre douce */
    margin-top: 5%;
}

#connexion, #inscription .title {
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espacement sous le titre */
    font-family: 'Times New Roman', Times, serif; /* Police d'écriture */
    font-size: 4em; /* Taille de la police */
    color: #333; /* Couleur du titre */
}

/* Styles des champs de formulaire, identiques au formulaire de réservation */
#connexion, #inscription input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 2.1em;
    width: 100%; /* Prendre toute la largeur */
    padding: 10px; /* Espacement intérieur */
    margin-bottom: 15px; /* Espacement sous chaque champ */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    transition: border-color 0.3s; /* Animation pour la bordure */
}

#connexion, #inscription input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Bordure bleue sur focus */
    outline: none; /* Supprimer le contour par défaut */
}

/* Styles du bouton, identiques au formulaire de réservation */
#connexion, #inscription button {
    background-color: #007bff; /* Couleur de fond bleue */
    color: white; /* Couleur du texte */
    padding: 10px 15px; /* Espacement intérieur */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
    font-size: 2em; /* Taille de la police */
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s; /* Animation de couleur */
}

#connexion, #inscription  button:hover {
    background-color: #0056b3; /* Couleur plus foncée au survol */
}

/* Réservation CSS */
/* Réservation CSS */
#reservation {
    padding: 50px 10%;
    background-color: #1e1e1e; /* Couleur de fond pour la section */
    color: #fff; /* Couleur du texte */
}

#reservation .title {
    text-align: center; /* Centrer le titre */
    margin-bottom: 30px; /* Espacement en bas du titre */
    font-size: 4.5rem; /* Taille du titre */
    color: #29d9d5; /* Couleur du titre */
}

.reservation-options {
    display: grid; /* Utiliser une grille pour la disposition des options */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Créer des colonnes adaptatives */
    gap: 32px; /* Espacement entre les options */
}

.box {
    background-color: #222; /* Couleur de fond pour chaque option */
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre */
    transition: 0.3s; /* Transition pour l'effet de survol */
}

.box:hover {
    transform: translateY(-5px); /* Légère élévation lors du survol */
    box-shadow: 0 0 20px rgba(0, 217, 213, 0.7); /* Ombre plus prononcée */
}

.box h3 {
    color: #29d9d5; /* Couleur du titre de l'option */
    margin-bottom: 10px; /* Espacement en bas du titre */
}

.box p {
    color: #999; /* Couleur du texte descriptif */
    margin-bottom: 15px; /* Espacement en bas du texte descriptif */
}

.box form {
    display: flex; /* Utiliser flexbox pour le formulaire */
    flex-direction: column; /* Orientation verticale */
}

.box form label {
    margin-top: 10px; /* Espacement supérieur */
    color: #999; /* Couleur des labels */
    font-size: 1.9em;
}

.box form input[type="text"],
.box form input[type="date"] {
    padding: 10px; /* Espacement intérieur */
    border: 1px solid #29d9d5; /* Bordure de couleur */
    border-radius: 4px; /* Coins arrondis */
    outline: none; /* Supprimer le contour par défaut */
    background-color: transparent; /* Fond transparent */
    color: #fff; /* Couleur du texte */
    margin-bottom: 10px; /* Espacement en bas des champs */
}

.box form input[type="submit"] {
    padding: 10px; /* Espacement intérieur */
    background-color: #29d9d5; /* Couleur de fond pour le bouton */
    border: none; /* Pas de bordure */
    color: #fff; /* Couleur du texte */
    cursor: pointer; /* Changer le curseur */
    font-weight: bold; /* Texte en gras */
    transition: background-color 0.3s; /* Transition pour la couleur de fond */
}

.box form input[type="submit"]:hover {
    background-color: #22b5b2; /* Couleur de fond au survol */
}

/* Responsivité */
@media (max-width: 768px) {
    #reservation {
        padding: 30px 5%; /* Réduire le padding sur les petits écrans */
    }

    h1.title {
        font-size: 2rem; /* Réduire la taille du titre sur les petits écrans */
    }
}
/*Destination css*/
#popular-destination {
    padding: 0 10% ;
    margin-bottom: 50px;
}
#popular-destination .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 32px;
}
#popular-destination .content .box {
    overflow: hidden;
    position: relative;
    height: 250px;
    transition: 0.5s;
}
#popular-destination .content .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s;
}
.box .content  h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.box .content p {
    padding: 2px;
    font-size: 12px;
}
.box .content p:nth-child(3){
    margin-bottom: 25px;
}
.box .content a {
    margin-top: 60px;
    padding: 10px 60px;
    border: 2px solid #29d9d5;
    color: #29d9d5;
    font-weight: bold;
}
.box:hover {
    box-shadow: 0 0 10px #29d9d5;
}
.box:hover .content {
    transform: translateX(0);
}

.title {
    text-transform: capitalize;
    margin: 70px 0;
    font-weight: bold;
    color: #29d9d5;
    position: relative;
    margin-left:15px;
    margin-top: 10%;
    font-size: 18px;

}
.title::after {
    position: absolute;
    left: -15px;
    content: "";
    height: 100%;
    background-color: #fff;
    width: 5px;
}
.img-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.img-desc .left {
    position: relative;
    margin-left: 10px;
    height: 250px;
    width: 40%;
}
.img-desc .right {
    width: 57%;
}

.img-desc .left video {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 0 10px #29d9d5;
}
.img-desc .left::after {
    position: absolute;
    bottom: -10px;
    right: 10px;
    content: "";
    height: 100%;
    background-color: #29d9d5;
    width: 100%;
    z-index: -1;
}
.img-desc .right h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;

}
.img-desc .right p {
    color: #999;
    font: 14px;
    margin-bottom: 36px;
}
.img-desc .right a {
    border: 1px solid #29d9d5;
    color: #29d9d5;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: bold;
}

/* Contact CSS */
#contact {
    padding: 0 10%;
    margin-bottom: 50px;
    height: 90vh;
    margin-top: 20%;
}
#contact form {
    background-color: #fff;
    margin:auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.left-right .left , .left-right .right  {
    display: flex;
    flex-direction: column;
    width: 49%;
}
#contact form label {
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600
}
#contact form input {
    padding: 8px;
    outline: 0;
    border: 1px solid #999;
}

textarea {
    height: 150px;
    resize: none;
    outline: 0;
    width: 100%;
    padding: 10px;
}
#contact form input:focus , textarea:focus {
    border: 1px solid #29d9d5;
}
iframe {
    height: 150px;
    width: 100%;
}
#contact button {
    width: fit-content;
    padding: 8px 40px;
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
#contact button:hover {
    letter-spacing: 1px;
}

footer {
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}
footer p {
    color: #fff;
}
footer p span {
    color: #29d9d5;
}
.responsive-menu {
    display: none;
}
/*Responsive*/
@media (max-width:750px) {
    header .menu {
        display: none;
    }
    .btn-reservation {
        display: none;
    }
    /*Home responsive*/
    #home h2 {
        font-size: 18px;
        -webkit-text-stroke: 0;
        color: #fff;
    }
    #home h4 {
        font-size: 28px;
    }
    #home p {
        text-align: center;
        font-size: 10px;
    }
    .find_trip {
        width: 100%;
        height: 200px;
    }
    .find_trip form {
        flex-wrap: wrap;
    }
    .find_trip form div {
        margin-top: 10px;
        flex-direction: column;
        width: 47%;
    }
    .find_trip form input[type="submit"]{
        width: 47%;
    }
    .home-btn {
        display:block;
    }
    /*Responsive A propos*/
    .img-desc {
        flex-direction: column;
        width: 100%;
    }
    .img-desc .left , .img-desc .right {
        width: 100%;
    }
    .img-desc .left video {
        width: 100%;
    }
    .img-desc .left::after {
        background-color: transparent;
    }
    .img-desc .left {
        margin-bottom: 20px;
    }

    /*Responsive menu*/
    .responsive-menu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .responsive-menu::after {
        position: absolute;
        content: "";
        height: 3px;
        background-color: #29d9d5;
        width: 28px;
        box-shadow: 0 10px 0 #29d9d5;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .responsive-menu.active::after {
        box-shadow: 0 0 0 #29d9d5; 
        transform: rotate(45deg);
    }
    .responsive-menu::before {
        position: absolute;
        content: "";
        height: 3px;
        background-color: #29d9d5;
        width: 28px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .responsive-menu.active::before {
        transform: rotate(-45deg);
    }
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        background-color: #222;
        align-items: unset;
        animation: animate-menu 1s forwards;
    }
    header .menu.responsive li {
        margin: 20px;
        width: 100px;
        padding-left: 20px;
    }

    @keyframes animate-menu {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(100%);
        }
    }
}
